<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Cart Items</title>
</head>

<body>

    <h1>
        Cart Items
    </h1>

    <table border="solid" width="100%">
        <tr>
            <th>S/N</th>
            <th>Brand Name</th>
            <th>Quantity</th>
        </tr>
        <tr data-th-each="item, stats : ${cartItems}">
            <td data-th-text="${stats.index + 1}"></td>
            <td data-th-text="${item.itemName}"></td>
            <td data-th-text="${item.quantity}"></td>
        </tr>
    </table>


    
</body>

</html>